<div class="d-flex justify-content-between align-items-center mb-4">

  <h3>Panel Principal</h3>

  <a
    routerLink="/"
    class="btn btn-danger">

    🚪 Cerrar Sesión

  </a>

</div>
<div class="inicio-container">

  <h1>CLINICA MEDICA USAP</h1>

  <h3>Panel Principal</h3>

  <div class="menu-grid">

    <details class="menu-card">
      <summary>🏥 Sistema</summary>

      <a routerLink="/paciente">Pacientes</a>

      <a routerLink="/medico">Médicos</a>

      <a routerLink="/especialidad">Especialidades</a>

    </details>

    <details class="menu-card">

      <summary>👨‍⚕️ Atención Médica</summary>

      <a routerLink="/consulta">
        Consulta Médica
      </a>

      <a routerLink="/historial/0">
        Historial Clínico
      </a>

      <a routerLink="/receta">
        Recetas Médicas
      </a>

      <a routerLink="/diagnostico">
        Diagnóstico de Paciente
      </a>

    </details>

    <details class="menu-card">

      <summary>📅 Agenda</summary>

      <a routerLink="/cita">
        Citas
      </a>

      <a routerLink="/pendientes">
        Pacientes Pendientes
      </a>

    </details>

    <a
      routerLink="/reportes"
      class="menu-card">

      <span>
        📊 Reportes
      </span>

    </a>

  </div>

</div>
