.container-fluid {
    max-width: 1400px;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.10);
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    font-weight: 600;
}

.card-header.bg-primary {
    background: linear-gradient(
        135deg,
        #0d6efd,
        #198754
    ) !important;
}

.card-header.bg-dark {
    background: linear-gradient(
        135deg,
        #212529,
        #495057
    ) !important;
}

.card-body {
    padding: 25px;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
}

.form-control,
.form-select {
    border-radius: 10px;
    min-height: 45px;
}

textarea {
    resize: none;
}

.btn {
    border-radius: 10px;
}

.table td,
.table th {
    vertical-align: middle;
}
